



#mycustomscroll {
/* Typical fixed height and fixed width example */
width: 900px;
height: 450px;
overflow: auto;
/* IE overflow fix, position must be relative or absolute*/
position: relative;
background-color: #E7EADE;
margin: 0.3em auto;
padding: 15px;
}

#mycustomscroll2 {
/* Typical fixed height and fixed width example */
width: 9040px;
height: 250px;
overflow: auto;
/* IE overflow fix, position must be relative or absolute*/
position: relative;
background-color: #FFFFFF;
margin: 0.3em auto;
padding: 15px;
}


.fixedwidth {
/* a wide div is used for creating horizontal scrollbars for demonstration purposes */
width: 900px;
height: auto;
position: relative;
color: white;
padding: 1px;
}

